/* ---------- BASE ---------- */
body {
    font-family: var(--fonte-principal);
    color: #333333;
}

main {
    padding: 2.5rem 0 2.5rem;
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;
}

.btn-outline {
    border: 2px solid #ffffff;
    background-color: transparent;
    line-height: 23px;
}

.btn-filled {
    background-color: #ffffff;
    color: #6329A2;
}

.btn:hover {
    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}

/* --------- Header ---------- */

.header {
    background-color: #ffffff;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 210px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.255rem 1.25rem;
}

.logo img {
    height: 40px;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.nav-center a,
.nav-right a {
    font-size: 1.25rem;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #7c3aed;
}

.nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right img {
    height: 20px;
}

.nav-right a:hover img {
    opacity: 0.7;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.menu-icon:hover img {
    opacity: 0.7;
}

/* ----------- Hero section ------------ */

.hero-section {
    background: url('../images/banners/hero.jpg') no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
    border-radius: 20px;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 6rem;
}

.hero-content {
    color: #ffffff;
    max-width: 360px;
    text-align: center;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero-content .hero-title {
    font-size: 1.87rem;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 3px;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}

/* ---------- Categorias ---------- */

.categories-section {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.875rem;
}

.category-card {
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 16px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.category-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.casual {
    background: url('../images/produtos/casual.jpg') no-repeat center;
    background-size: cover;
}

.moderno {
    background: url('../images/produtos/moderno.jpg') no-repeat center;
    background-size: cover;
}

.esporte {
    background: url('../images/produtos/esportivo.jpg') no-repeat center;
    background-size: cover;
}

.futurista {
    background: url('../images/produtos/futurista.jpg') no-repeat center;
    background-size: cover;
}

/* ---------- Grid de produtos ---------- */
.card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.top1 {
    grid-area: top1;
    background-image: url(../images/produtos/card_imagem.jpg);
}

.top2 {
    grid-area: top2;
    background-image: url(../images/produtos/roxo-verde-grid.jpg);
}

.midL {
    grid-area: midL;
    background-image: url(../images/produtos/modelo-feminina.jpg);
}

.midR {
    grid-area: midR;
    background-image: url(../images/produtos/futurista-grid.jpg);
}

.bottomL {
    grid-area: bottomL;
    background-image: url(../images/produtos/branco-azul-grid.jpg);

}

.bottomR {
    grid-area: bottomR;
    background-image: url(../images/produtos/moderno-grid.jpg);
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        'top1 top1 top2 top2'
        'top1 top1 midL midR'
        'bottomL bottomL midL bottomR';
    gap: 1.875rem;
}

.top1-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: 400;
    color: #ededed;
}

.card-subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 400;
    color: #ededed;
}

.cta-group {
    display: flex;
    gap: 0.625rem;
}

/* --------- Footer ---------- */
.footer {
    background-color: #333333;
    color: #ffffff;
}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-nav {
    display: flex;
    gap: 1.25rem;
}

.footer-nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;
}

.footer-nav h4 {
    color: #EDEDED;
    font-size: 1.25rem;
    margin-bottom: 16px;
    display: block;
    font-weight: 400;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.newsletter-form input {
    border-radius: 30px;
    color: #AAAAAA;
    padding: 12px 20px;
    width: 344px;
}

.footer-social ul {
    display: flex;
    gap: 1.25rem;
}

.footer-social h3 {
    margin-bottom: 16px;
}

.footer-social li a:hover img {
    opacity: 0.7;
}

.footer-copyright {
    font-size: 1.25rem;
    text-align: center;
    padding: 20px 0;
}